/*!
 * 
 */
 .titulo-pagina {
 	margin-top:-5px;
 	margin-bottom:15px;
 }
.login-messages {
	margin-top: 20px;
}
#form-cadastro {
	margin-top: 10px;
}

.glyphicon-sweet {
	color: #f6546a;
}
.titulo-abas {
	margin: 20px 20px;
}

.btn-sweetmanu {
	background-color: #f6546a;
	color: #fff;
}
.btn-sweetmanu:HOVER {
	background-color: #f6546f;
}

.navbar {
	position: relative;
	background-color: #FFF;
	border-bottom: none;
	margin-top: 10px;
}

.brand {
	display: flex;
	justify-content: center;
	width: 100%;
	left: 0;
	top: 0;
}

.logout {
	font-size: 10px;
}

.menu-text a {
	color: #000;
}

.menu-text a :hover {
	color: #f6546a;
}

.carousel-img {
	width: 100%;
	max-height: 350px;
	overflow:hidden;
}
.slide-image {
	width: 100%;
	height: auto;
}

.div-img {
	max-height: 180px;
	overflow: hidden;
}
.img-produto {
	width: 100%;
	height: auto;
}

.carousel-holder {
	margin-bottom: 30px;
}

.carousel-control, .item {
	border-radius: 4px;
}

.caption {
	height: 100px;
	overflow: hidden;
	background-color: #f4f4f4;
	border:none;
}

.caption a {
	color: #f6546a;
	font-size:18px;
	font-weight: bold;
}
.caption h4 {
	white-space: nowrap;
	font-weight: bold;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
	border: none;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 12px 13px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 40px;
}


footer {
	margin: 50px 0;
}

.vertical-center {

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}